@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.btn{
    background-color: #950101;
    color: white;
}
.btn:hover{
    background-color: #FF0000;
    color: white;
}
#active{
    color: white;
  }
.bgag{

    background: radial-gradient(#12000099,#000000e9),url(../img/bgag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.imgpro{
    border-radius: 600px; 
    height: 250px; 
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.aboutusImg{
    width: 450px; 
    height:270px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .aboutusImg{
        width: 270px;
        height: 170px;
    }
}
  
@media only screen and (max-width: 653px) {
    /* For mobile phones: */
    .aboutusImg{
        width: 230px;
        height: 130px;
    }
}