@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


.coverbook{
    background: linear-gradient(rgba(0, 0, 0, 0.786),rgba(0, 0, 0, 0.786)),url(../img/bookingform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.datetimepickerinput{
    width: 713px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#active{
    color: white;
  }


input{
  background-color: rgba(187, 187, 187, 0.95);
  border: 0px;
  padding: 10px;
}
textarea{
  background-color: rgba(187, 187, 187, 0.95);
  border: 0px;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    textarea{
        width: 250px;
    }
}
  
@media only screen and (max-width: 653px) {
    /* For mobile phones: */
    textarea{
        
        width: 250px;
    }
}