@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


.coverhome{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../img/backgroundhome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    background-attachment: fixed;
}
#active{
  color: white;
}
.coverhometxt{
    padding-top: 10%;
    color: white;
    text-align: left;
}
.coverhomewelcome{font-family: 'Courgette', cursive;}
.BBP{font-family: 'Permanent Marker', cursive; font-size: 75px;}
.BBPWelcome{font-size: 25px;}
.btn{
    background-color: #950101;
    color: white;
}
.btn:hover{
    background-color: #FF0000;
    color: white;
}

.offersdiv{
    color: #000000;
}
.offerstitle{
    color: #000; 
    font-family: 'Courgette', cursive; 
    line-height: 1.33333333;
    position: relative;
    z-index: 1;
}
.offerstitle:before{
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 1.11111111rem;
    right: 1.11111111rem;
    height: 1.66666667rem;
    background-color: #ff0000;
    z-index: -1;
}
*:before , *:after{box-sizing: border-box;}
.containerofferimg{
  position: relative;
  width: 100%;
  
  display: inline-block;
  overflow: hidden;
}
.offersimg{
    opacity: 1;
    display: block;
    width: 100%;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
    vertical-align: middle;
}
.offersimg:hover{
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
  transform:scale(1.1);
}
.overlay {
  position: absolute;
  top: 50%;
  left: 45%;
  bottom: 50%;
  right: 45%;
  opacity: 0;
  transition: .5s ease;
}
.containerofferimg:hover .offersimg {
    opacity: 0.3;
}
  
.containerofferimg:hover .overlay {
    opacity: 1;
}
.challengesImg{
  height: 100%; 
  width:400px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .BBP{font-family: 'Permanent Marker', cursive; font-size: 40px;}
  .BBPWelcome{font-size: 13px; text-align: center;}
  .coverhomewelcome{font-family: 'Courgette', cursive; text-align: center;}
  .challengesImg{height: 100%; width: 200px;}
}

@media only screen and (max-width: 653px) {
  /* For mobile phones: */
  .BBP{font-family: 'Permanent Marker', cursive; font-size: 30px;}
  .BBPWelcome{font-size: 10px; text-align: center;}
  .coverhomewelcome{font-family: 'Courgette', cursive; text-align: center;}
  .challengesImg{height: 100%; width: 200px;}
}